<template>
    <div class="detail-page">

        <div class="nav-link">
            <router-link to="/"><< Terug naar de hoofd pagina</router-link>
        </div>

        <div class="row">
            <div class="col-md-8">
                <product-detail
                    :content="product"
                    :properties="properties" 
                    :images="images">
                </product-detail>
            </div>
        </div>

    </div>
</template>

<style>
.nav-link {
    margin: 1em;
}
</style>

<script>
import VueGallery from 'vue-gallery';
import ProductDetail from '../assets/ProductDetail';

export default {
    name: "detail",
    data: () => {
        return {
            product: [],
            properties: [
                { title: "Categorie", value: "Meubels" },
                { title: "Conditie", value: "Gebruikt" },
                { title: "Conditie", value: "Gebruikt" },
                { title: "Conditie", value: "Gebruikt" }
            ],
            images: [
                'https://dummyimage.com/800/ffffff/000000',
                'https://dummyimage.com/1600/ffffff/000000',
                'https://dummyimage.com/1280/000000/ffffff',
                'https://dummyimage.com/400/000000/ffffff',
            ],
            index: null
        }
    },

    components: {
      'gallery': VueGallery,
      'product-detail': ProductDetail
    },

    created() {
        fetch('http://localhost:3000/products')
        .then( resp => {return resp.json()} )
        .then( results => this.product = results[0])
        .catch( err => console.log( err ));
    },
}
</script>

