<template>
    <div class="wrapper">
        <div class="sidebar">
            <categories></categories>
        </div>
        <div class="content">
            <SearchBar></SearchBar>
            <ProductResults></ProductResults>
        </div>
    </div>
</template>

<script>
import Categories from '../Categories';
import ProductResults from '../ProductResults';
import SearchBar from '../SearchBar';

export default {
  name: 'Main',
  components: {
        Categories,
        ProductResults,
        SearchBar
  }
}
</script>

<style>
.wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: .5em;
}
.content {
    flex: 1;
    width: 100%;
    max-width: 65em;
}

.sidebar {
    width: 18em;
}
</style>
