<template>
    <div class="place-ads-form">

        <div class="container form">
            <h1>Plaats een zoekertje</h1>
            <div class="row">
                <div class="col-md-8 form-content">
                    <form  v-on:submit.prevent="submitForm" novalidate enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control" v-model="title" id="title" placeholder="Title">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select @input="selectSub" name="category" v-model="category" id="category" class="form-control" >
                                        <option disabled value="">Kies een categorie</option>
                                        <option v-for="cat of categories">{{ cat.title }}</option>
                                    </select>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label for="subcategory">Subcategory : {{ selected }} </label>
                                    <select id="subcategory" v-model="subcategory" class="form-control">
                                        <option v-for="sub of subs"> {{ sub }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="condition">Conditie</label>
                            <select v-model="condition" id="condition" class="form-control">
                                <option>Gebruikt</option>
                                <option>Nieuw</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="title"> Prijs </label>
                            <input type="text" v-model="price" class="form-control" id="title" placeholder="prijs">
                        </div>

                        <div class="form-group">
                            <label for="description">Beschrijving</label>
                            <textarea id="description" v-model="description" class="form-control" rows="3" placeholder="beschrijving"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Afbeelding toevoegen</label>

                            <input type="file" @change="filesChange($event.target.name, $event.target.files)" multiple id="uploader">
                            <div class="previews" ref="previews">

                            </div>
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                            <input type="checkbox"> Check me out
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import { Categories } from '../src/categories.js';
import { upload } from './file-upload.service';
import * as axios from 'axios';

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
  name: "PlaceAds",
  data: function() {
      return {
          title: "",
          category: "",
          categories: [],
          subcategory: "",
          price: "",
          description: "",

          condition: "",
          selected: [],
          subs: [],
          previews: []
      }
  },

    computed: {
        isInitial() {
            return this.currentStatus === STATUS_INITIAL;
        },
        isSaving() {
            return this.currentStatus === STATUS_SAVING;
        },
        isSuccess() {
            return this.currentStatus === STATUS_SUCCESS;
        },
        isFailed() {
            return this.currentStatus === STATUS_FAILED;
        }
    },

  created() {
    let categories = new Categories();
    // console.log(  categories.getList() );
    this.categories = categories.getList();
  },
  methods: {
        filesChange(fieldName, fileList) {
            // handle file changes
            const formData = new FormData();

            if (!fileList.length) return;

            // append the files to FormData
            Array
            .from(Array(fileList.length).keys())
            .map(x => {
                formData.append(fieldName, fileList[x], fileList[x].name);
            });

            // save it
            this.save(formData);
        },

        save(formData) {
            // upload data to the server
            this.currentStatus = STATUS_SAVING;

            upload(formData)
            .then(x => {
                this.uploadedFiles = [].concat(x);
                this.currentStatus = STATUS_SUCCESS;
            })
            .catch(err => {
                this.uploadError = err.response;
                this.currentStatus = STATUS_FAILED;
            });
        },
        preview: function( event ) {
            let previewEl = this.$refs.previews;
            let files = event.target.files;

            [].forEach.call(files, function( file ) {
                if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
                    // Make sure `file.name` matches our extensions criteria
                    var reader = new FileReader();

                    reader.addEventListener("load" , function() {
                        
                            var image = document.createElement('img'); //new Image();
                            image.height = 100;
                            image.title = file.name;
                            image.src = this.result;
                            previewEl.appendChild( image );
                    });

                    reader.readAsDataURL( file );

                }
            });
        },

        submitForm: function( $event )  {
            axios.post('/test', {
                title: this.title,
                category: this.category,
                subcategory: this.subcategory,
                price: this.price,
                description: this.description,
                condition: this.condition
            }).then( function( res ) {
                console.log( rest);
            });
        },

        selectSub: function( e ) {
            this.subs = this.categories.filter( 
                category =>  category.title === e.target.value 
            )[0].subs;
        }
  }
}
</script>

<style>
.form {
    margin-top: 1em;
}
.form-content {
    background: #fff;
    padding: 1em;
}
.previews {
    border-style: dotted;
    padding: 1em;
    border-width: 1px;
    margin-top: 1em;
}

.previews img {
    margin-right: 1em;
}

.previews img:hover {
    cursor: pointer;
    border: 1px solid rgb(104, 104, 236);
}
</style>
