<template>
    <div class="wrapper">
        <div class="sidebar">
            <categories></categories>
        </div>
        <div class="content">
            <belgium-map></belgium-map>
        </div>
    </div>
</template>

<script>
import Categories from '../Categories';
import belgiumMap from '../assets/belgiumMap';
import SearchBar from '../SearchBar';

export default {
  name: 'StartPage',
  components: {
        Categories,
        SearchBar,
        "belgium-map": belgiumMap
  }
}
</script>

<style>
.wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: .5em;
}
.content {
    margin-top: 3em;
    width: 100%;
    max-width: 65em;
}

.sidebar {
    width: 18em;
}
</style>
