<template>
  <div class="categories-box">
      <div class="title">Categories</div>
      <div class="categories"  v-for="(cat, index) of categories">
          <div class="title" v-on:click="isActive = index" >{{ cat.title }}</div>
          <div class="subs"  v-bind:class="{ active: isActive === index }" v-for="sub of cat.subs">
              <div class="sub-title">{{ sub }}</div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "categories",
  data () {
    //implementing data
    var autos = [" Alfa romeo ", " Audi ", " BMW ", " Chevrolet ", " Citroën ", " Fiat ", " Ford ", " Honda ", " Hyundai ", " Land Rover ", " Mercedes-Benz ", " MINI ", " Nissan ", " Opel ", " Peugeot ", " Porsche ", " Renault ", " Seat ", " Toyota ", " Volkswagen ", " Volvo "];
    var carparts = ["Aanhangwagens", "Audio / Radio", "Banden", "Beveiliging", "Boxen & versterkers", "Bumpers", "Dakdragers", "Fietsendragers", "Gereedschap", "GPS", "Hoezen & matten", "Onderdelen", "Onderhoud / Handleidingen", "Schadewagens", "Sneeuwkettingen", "Stuur", "Trekhaken", "Tuning en autostyling", "Uitlaten", "Velgen", "Verlichting", "Zetels", "Andere accessoires"];
    var motors = ["Motoren", "Scooters", "Brommers", "Quads/trikes"];
    var motorsparts = ["Motorkleding", "Helmen", "Motoronderdelen", "Overige"];
    var companycars = ["Bestelwagens", "Vrachtwagens"];
    var boatsandparts = ["Motorboten", "Zeilboten", "Overige boten", "Bootonderdelen"];
    var caravancamps = ["Tenten", "Caravans", "Motorhomes", "Kampeeraccessoires"];
    
    //Immo
    var houseSale = ["Huizen", "Appartementen", "Lofts", "Gronden", "Garages", "Bedrijfspanden"];
    var houseRent = ["Huizen", "Appartementen", "Lofts", "Gronden", "Garages", "Bedrijfspanden", "Kot en samenhuizen"];
    var houseVacation = ["België", "Europa", "Overige"];
    
    //Multimedia
    var computers = ["Software", "Desktops", "Laptops en tablets", "Printers en accessoires", "Computeronderdelen", "Overige"];
    var gamesconsole  = ["Switch", "PlayStation", "Xbox", "PC", "Handhelds", "Overige"];
    var filmsTv = ["Beamers en projectoren", "Blu-ray spelers", "Dvd-spelers", "Films", "Home cinema", "Satelliet schotels en receivers", "Tv's", "Tv accessoires", "Videorecorders", "Overige tv"];
    var musicAudios = ["Bekabeling", "Cassettebandjes", "Cd's", "Cd-spelers en bandrecorders", "Koptelefoons en oortjes", "Lichteffecten", "Luidsprekers en boxen", "Mengpanelen", "Microfoons", "MP3-spelers en iPod", "Platenspelers", "Radio's en stereo's", "Versterkers en receivers", "Vinylplaten", "Overige muziek en audio"];
    var photosCameras = ["Accu's, batterijen en opladers", "Analoge camera's", "Cameratassen", "Digitale camera's", "Digitale fotolijsten", "Flitsers", "Geheugenkaartjes", "Lenzen en filters", "Microscopen", "Spiegelreflexcamera's", "Statieven", "Telescopen", "Verrekijkers", "Videobewaking", "Videocamera's", "Overige fotografie"];
    var phones = ["GSM / Telefoons", "Telefonie accessoires"];



    return {
        isActive: 1,
        categories: [
        { title: "Auto's", subs: autos },
        { title: "Auto's: Onderdelen",  subs: carparts },
        { title: "Motoren", subs: motors },
        { title: "Motoren: Onderdelen", subs: motorsparts },
        { title: "Bedrijfsvoertuigen", subs: companycars },
        { title: "Boten en onderdelen", subs: boatsandparts },
        { title: "Caravans en kamping", subs: caravancamps },
        { title: "Immo - Te Koop", subs: houseSale },
        { title: "Immo - Te Huur", subs: houseRent },
        { title: "Immo - Vakantiehuizen", subs: houseVacation },
        { title: "Computers", subs: computers },
        { title: "Games en Consoles", subs: gamesconsole },
        { title: "Films en TV", subs: filmsTv },
        { title: "Muziek en audio", subs: musicAudios },
        { title: "Fotografie en camera's", subs: photosCameras },
        { title: "Telefonie", subs: phones }
        ]
    }
  }
}
</script>

<style scoped>

    .categories-box {
        background: white;
        margin-top: 1em;
        width: 100%;
        max-width: 15em;
        padding: .5em 1em 1em 1em;
        margin-left: 1em;

        box-shadow: 6px 10px 13px -12px rgba(0,0,0,0.75)

    }

    .title {
        font-weight: bolder;
        line-height: 2em;
    }

    .categories {
        margin-left: 1em;
    }

    .categories .title {
        cursor: pointer;
    }

    .categories .title:hover {
        text-decoration: underline;
    }
    .subs {
        margin-left: 1em;
        line-height: 1.5em;
        height: 100%;
        max-height: 0;
        overflow: hidden;
        transition: .4s max-height cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    .subs.active {
        max-height: 10em;
    }
</style>