<template>
    <div class="footer">
        <div class="credit">
            2018 &copy; Eureka
        </div>
    </div>
</template>


<script>
export default {
  name: 'Footer'
}
</script>

<style>
    .footer {
        background-color: #fff;
        text-align: center;
        margin-top: 1em;
    }
</style>