<template>
  <div class="results">
      <div class="products" v-for="product of products">
          <product :prop="product"></product>
          <!-- <product></product> -->
      </div>
  </div>
</template>


<script>
import product from './assets/product';

export default {
    name: 'ProductResults',
    components: {
        product
    },
    data: () => {
        return {
            products: []
        }
    },

    created() {
        fetch('http://localhost:3000/products')
        .then( resp => {return resp.json()} )
        .then( results => this.products = results)
        .catch( err => console.log( err ));
    },

    methods: {

    }
}
</script>

<style>
    .results {
        margin-top: 1em;
    }
</style>

