<template>
    <div class="search">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                <input type="text" class="form-control" v-model="srcQuery"  placeholder="Zoeken naar ...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" v-on:click="search(srcQuery)">
                        <span class="glyphicon glyphicon-search search-icon"></span>Zoeken
                    </button>
                </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-2">
                <dropdown v-bind:list="regions" :title="regions[0]" v-on:userselected="selectedRegion($event)"></dropdown>
            </div>
            <div class="pull-right">
                <div class="col-lg-4">
                    <dropdown v-bind:list="sortList" :title="sortList[0]" v-on:userselected="sortResult($event)"></dropdown>
                </div>
            </div>
        </div><!-- /.row -->
    </div>
</template>

<script>
import dropdown from "./assets/dropdown";

export default {
    name: "SearchBar",
    data() {
        return {
            srcQuery: '',
            searchQry: {
                region: ""
            },
            regions: [
                'Alle regio\'s',
                'Brussel',
                'West-Vlaanderen',
                'Oost-Vlaanderen',
                'Antwerpen',
                'Vlaams-Limburg',
                'Vlaams-Brabant',
                'Waals-Brabant',
                'Henegouwen',
                'Namen',
                'Luik',
                'Luxemburg'
            ].sort(),
            sortList: ["Sorteer op datum", "Sorteer op naam"]
        }
    },
    components: {
        dropdown
    },
    methods: {
        search( term ) {
            this.$data.searchQry.region = this.$data.searchQry.region ? 
                this.$data.searchQry.region : this.$data.regions[0];

            console.log("Region", this.$data.searchQry.region );
            console.log('start searching for ' + term + " ....");
        },
        selectedRegion( region ) {
           this.$data.searchQry.region = region ;
        },
        sortResult( selected ) {
            console.log( selected );
        }
    }
}
</script>

<style>
    .search {
        margin-top: 1em;
    }

    .search-icon {
        margin-right: 1em;
    }
    
</style>

