<template>
    <div class="top-bar-menu">
        <div class="brand">
            <h3>{{ title }}</h3>
        </div>
        <div class="menu-list" >
            <div class="menu-item" v-for="menu in menus">
                <a href="">{{ menu.title }}</a>
            </div>
        </div>
        <div class="menu-button">
            <button class="btn btn-add">Plaats een zoekertje</button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'TopbarMenu',
  data () {
      return {
          title: "Eureka!",
          menus: [
            {
                title: "Zoeken",
                link:""
            },
            {
                title: "Shops",
                link:""
            },
            {
                title: "Mijn zoekertjes",
                link:""
            },
            {
                title: "Mijn berichten",
                link:""
            },
            {
                title: "Favorieten",
                link:""
            }
          ]
      }
  }
}
</script>

<style scoped>
    .top-bar-menu {
        background-color: #fff;
        width: 100%;
        line-height: 2em;
        padding: .2em 1em;
        box-shadow: 0px 10px 13px -12px rgba(0,0,0,0.75);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-list {
        margin: auto;
        display: flex;
        align-items: center;
    }

    .menu-item {
        margin: 0 1em;
        display: none;
    }

    .menu-item a {
        text-decoration: none;
    }
    .menu-item a:hover {
        text-decoration: underline;
    }

    .btn-add {
        background-color: #e67e22;
        color: #fff;
        font-weight: bolder;
    }

    @media screen and (min-width: 53em) {
        .menu-item  {
            display: block;
        }
     }

</style>