<template>
    <div class="dropdown" v-bind:class="{ open : active }">
        <button v-on:click="active = !active" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           {{ selectionTitle }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li v-on:click="userSelection(item)" v-for="item of list" :class="{ active: item === selectionTitle }"><a href="#">{{ item }}</a></li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "dropdown",
    props: ["list", "title"],
    created() {
        this.$data.selectionTitle = this.title;
    },
    methods: {
        userSelection:function( region) {
            this.$data.active = false;
             this.$data.selectionTitle = region;
            this.$emit("userselected", region);
        }
    },
    data(){
        return {
            active: false,
            selectionTitle: '',
        }
    }
}
</script>
<style>

</style>

