<template>
  <div class="gallery">

  </div>
</template>

<script>
export default {
  name: "detailItem,
}
</script>


<style>
    .image {
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ebebeb;
        margin: 5px;
    }
</style>
