<template>
  <div class="product-box">
        <div class="thumbnail-img">
            <img :src="prop.imageUrl" alt="">
        </div>
        <div class="desc">
            <router-link :to="prop.link">
                <strong></strong>
                <p class="title">{{ prop.title }}</p>
            </router-link>
            <p>{{ prop.desc }}</p>
            
            <div class="product-info">
                <div class="status">{{ prop.status }}</div>
                <div class="location">{{ prop.uploadDate}} | {{ prop.location }}</div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
  name: "product",
  props: ['prop']
}
</script>


<style>
    .product-box {
        margin-bottom: 1em;
        display: flex;
        background-color: #fff;
        padding: .5em;

        box-shadow: 6px 10px 13px -12px rgba(0,0,0,0.75)
    }

    .thumbnail-img {
        margin-right: 1em;
    }

    .thumbnail-img img {
        width: 100%;
        max-width: 20em;
    }
    .desc {
        flex: 1;
    }
    .desc .title {
        font-weight: bold;
        margin-bottom: .5em;
    }

    .product-info {
        display: flex;
        justify-content: space-between;
    }
</style>
