<template>
    <div class="detail">
        <h1>{{ content.title }}</h1>

        <div>
            <gallery :images="images" :index="index" @close="index = null"></gallery>
            <div
            class="image"
            v-for="(image, imageIndex) in images"
            :key="imageIndex"
            @click="index = imageIndex"
            :style="{ backgroundImage: 'url(' + image + ')', width: '300px', height: '200px' }"
            ></div> 
        </div>


        <div class="row">
            <div class="col-md-12">
                <h2>Kenmerken</h2>
                <div class="description row">
                    <div class="properties">
                        <div class="propery-item" v-for="property of properties">
                            <label> {{ property.title }} </label>: {{ property.value }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Beschrijving</h2>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat aliquam, sequi repellendus nihil fugit animi cum necessitatibus quibusdam fuga, excepturi voluptas. Pariatur porro itaque corrupti labore quam consequuntur libero dolorem?</p>
                </div>
            </div>
        </div>


    </div>
</template>

<style>
    .detail { 
        background-color: #fff;
        /* width: 100%;
        max-width: 50em; */
        margin-top: 1em;
        margin-left: 1em;
        padding: 1em;

        box-shadow: 6px 10px 13px -12px rgba(0,0,0,0.75)
    }

    .properties {
        margin: 1em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .image {
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ebebeb;
        margin: 5px;
    }
</style>
<script>
import VueGallery from 'vue-gallery';

export default {
    name: "productDetail",
    props: ["properties", "images", "content"],
    data: () => {
        return {
            index: null
        }
    },
    components: {
      'gallery': VueGallery
    },
}
</script>

