<template>
  <div id="app">
    <TopbarMenu></TopbarMenu>
    <router-view/>
    <Footer></Footer>
  </div>
</template>

<script>
import TopbarMenu from './components/TopbarMenu'
import Footer from './components/Footer'

export default {
  name: 'app',
  components : {
    TopbarMenu,
    Footer
  },

  beforeCreate: () => {

  }
}
</script>

<style>
  body {
    background-color: #f2f2f2;
    width: 100%;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }
</style>
